<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header id="gnbWrap" class="gnb-wrap" th:fragment="header">
  <div class="gnb-top">
    <div class="gnb-left">
      <h1>
        <a href="#">
          <img src="https://recipe1.ezmember.co.kr/img/logo4.png" alt="로고">
        </a>
      </h1>
    </div>

    <div class="gnb-search">
      <form id="searchForm" class="search-form">
        <label class="label">
          <input name="search" type="text" class="search-input" maxlength="40">
          <span class="search-buttonBox">
                    <button name="search" value="검색" class="search-button">
                        <i class="fa-solid fa-magnifying-glass icon"></i>
                    </button>
                </span>
        </label>
      </form>
    </div>

    <div class="gnb-right">
      <a href="#">
        <img src="https://recipe1.ezmember.co.kr/cache/rpf/2022/12/05/47b6e4d324714a3744f550bb18fad07f1.jpg" alt="사진" class="image">
      </a>
      <a href="#">
        <img src="https://recipe1.ezmember.co.kr/img/tmn_write.png" alt="사진" class="image">
      </a>


      <a href="#">
                <span>
                    <img src="https://recipe1.ezmember.co.kr/img/tmn_store2.png" alt="사진" class="image">
                </span>
      </a>
    </div>
  </div>


  <div class="gnb-bottom">
    <ul class="nav-list">
      <li class="item">
        <a href="">추천</a>
      </li>
      <li class="item">
        <a href="">추천</a>
      </li>
      <li class="item">
        <a href="">추천</a>
      </li>
      <li class="item">
        <a href="">추천</a>
      </li>
      <li class="item">
        <a href="">추천</a>
      </li>
      <li class="item">
        <a href="">
          더보기
          <i class="fa-solid fa-chevron-down icon"></i>
        </a>
      </li>
    </ul>
  </div>
</header>




</html>