<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.recipe.mappers.BbsMapper">

    <insert id="insertRecipe"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="dev.recipe.entities.bbs.RecipeEntity">
            INSERT INTO `recipe_bbs`.`recipe_article`(`user_email`,`title`,`recipe_introduce`,`category_type`,
            `category_situation`,`category_matter`,`category_how`, `info_personnel`,`info_time`,
            `info_difficult`,`cook_tip`, `isOpen`,`main_image`,`main_imageType`)
            VALUES (#{userEmail}, #{title}, #{recipeIntroduce}, #{categoryType}, #{categorySituation},
                    #{categoryMatter}, #{categoryHow}, #{infoPersonnel},
                    #{infoTime}, #{infoDifficult}, #{cookTip},
                    #{isOpen}, #{mainImage}, #{mainImageType});
    </insert>

    <insert id="insertMaterial"
    useGeneratedKeys="true"
    keyProperty="index"
    keyColumn="index"
    parameterType="dev.recipe.entities.bbs.MaterialEntity">
    INSERT INTO `recipe_bbs`.`material`(`material_title`,`article_index`)
    VALUES (#{materialTitle},#{articleIndex})
    </insert>

    <insert id="insertMaterialContent"
            parameterType="dev.recipe.entities.bbs.MaterialContentEntity">
        INSERT INTO `recipe_bbs`.`material_content`(`material_name`,`material_count`,`material_index`)
        VALUES (#{materialName},#{materialCount},#{materialIndex})
    </insert>

    <insert id="insertCompleteImages"
    parameterType="dev.recipe.entities.bbs.CompleteImageEntity">
    INSERT INTO `recipe_bbs`.`complete_image`(`complete_image`,`complete_image_type`,`article_index`)
    VALUES (#{completeImage},#{completeImageType},#{articleIndex})
    </insert>

    <insert id="insertStep"
    parameterType="dev.recipe.entities.bbs.StepEntity">
    INSERT INTO `recipe_bbs`.`step`(`step_content`, `step_image`, `article_index`,`type`)
    VALUES (#{stepContent},#{stepImage},#{articleIndex}, #{type})
    </insert>

    <select id="selectRecipe"
    >
        SELECT `categoryHow`.`category_how`             AS `how`,
               `category_matter`.`category_matter`,
               (SELECT `category_situation`.`category_situation`
                FROM `recipe_bbs`.`category_situation`) AS `situation`,
               (SELECT `category_type`.`category_type`
                FROM `recipe_bbs`.`category_type`)      AS `type`,
               (SELECT `info_difficult`.`difficult`
                FROM `recipe_bbs`.`info_difficult`)     AS `difficult`,
               (SELECT `info_personnel`.`personnel`
                FROM `recipe_bbs`.`info_personnel`)     AS `personnel`,
               (SELECT `info_time`.`time`
                FROM `recipe_bbs`.`info_time`)          AS `time`
        FROM `recipe_bbs`.`category_how` AS `categoryHow`
            LEFT OUTER JOIN `recipe_bbs`.`category_matter`
            ON `categoryHow`.`index` = `cat`


    </select>

</mapper>