<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모두의 레시피 - 이메일 찾기</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/recoverEmail.css}">
    <script defer th:src="@{/member/resources/script/recoverEmail.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<main class="--main main">
    <form class="form" id="form">
        <div class="title-container">
            <h1 class="title">이메일 찾기</h1>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <th>이름</th>
                <td>
                    <label class="label">
                        <span hidden>이름</span>
                        <input class="--object-input input" maxlength="5" name="name" placeholder="이름을 입력해 주세요."
                               type="text">
                    </label>
                </td>
            </tr>
            <tr>
                <th>나이</th>
                <td>
                    <label class="label">
                        <span hidden>나이</span>
                        <input class="--object-input input" maxlength="3" name="age" placeholder="나이를 입력해 주세요."
                               type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <th>연락처</th>
                <td>
                    <label class="label">
                        <span hidden>연락처</span>
                        <input class="--object-input input" maxlength="12" name="contact" placeholder="연락처를 입력해 주세요."
                               type="text">
                    </label>
                </td>
            </tr>
            <tr class="warning-row" rel="warningRow">
                <th></th>
                <td>
                    <span class="warning">
                        <span class="text">이름을 입력해 주세요.</span>
                    </span>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input class="recoverButton" name="recoveryEmail" type="submit" value="이메일 찾기">
                </td>
            </tr>
            <tr class="email-row" rel="emailRow">
                <th></th>
                <td>
                    <span class="email">
                        <i class="icon fa-solid fa-utensils"></i>
                        <span class="text">입력하신 이름과 연락처를 가진 회원의 이메일은 '' 입니다.</span>
                    </span>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input rel="loginsubmit" class="--login-button bob" name="recovery" type="submit" value="로그인 하러 가기"
                           onclick="location.href='login' ">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
</body>
</html>